img{
    width: 480px;
}

div{
    background-color: red;
    font-size: 32px bold;
    text-align: center;
   color: white;
}

p{
    background-color: green;
    font-size: 18px;
    text-align: center;
   color: white;
}
#button{
    background-color: orange;
    font-size: 18px;
}

.h2potato{
    color: rgb(61, 61, 80);
    font-size: 36px;
}
#dire{
    background-color: rgb(110, 196, 110);
    font-size: 24px bold;
}