img{
    width: 480px;
}

div{
    background-color: red;
    font-size: 32px bold;
    text-align: center;
   color: white;
}

p{
    background-color: green;
    font-size: 18px;
    text-align: center;
   color: white;
}
#button{
    background-color: orange;
    font-size: 18px;
}